<!DOCTYPE html>
<html lang="{{lang}}">

{{> content }}

<head>
    <meta charset="{{charset}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <title>{{title}}</title>

    {{#each scripts as |script|}}
        <script src="{{script}}"></script>
    {{/each}}
    {{#> inlineScripts }}
    {{/inlineScripts}}

    {{#each styleSheets as |s|}}
        <link rel="stylesheet" href="{{s}}">
    {{/each}}
    {{#> inlineStyleSheets }}
    {{/inlineStyleSheets}}

</head>

<body>
    {{#> body }}
    {{/body}}
</body>

</html>
