{{#*inline "pageTemplateStyleSheets"}}
  <link rel="stylesheet" href="css/pages/index.css">
{{/inline}}

{{#*inline "pageTemplateScripts"}}
{{/inline}}

{{#*inline "body"}}
    <div class="main">
        <div class="topbar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-1">
                        <div class="menu-area-left d-block d-md-none {{#if disablePublicLogin}}hidden{{/if}}">
                            <button
                                type="button"
                                class="btn btn-light"
                                id="menu-button"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"
                            >
                                <svg viewBox="0 0 100 100" preserveAspectRatio="none">
                                    <rect y="0"  width="100" height="8"></rect>
                                    <rect y="48" width="100" height="8"></rect>
                                    <rect y="92" width="100" height="8"></rect>
                                </svg>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="menu-button">
                                <a class="dropdown-item dropdown-item-unauth hidden" id="login-menu-item" href="#">
                                    Login
                                </a>
                                <a class="dropdown-item dropdown-item-unauth registration-link hidden" href="#">
                                    Register
                                </a>
                                <a class="dropdown-item dropdown-item-auth hidden" id="drop-pin-menu-item" href="#">
                                    Drop a Protest
                                </a>
                                <a class="dropdown-item dropdown-item-auth logout-link hidden" href="#">
                                    Logout
                                </a>
                                <a class="dropdown-item dropdown-item-auth contributing-link hidden" href="#">
                                    Contribute
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-10">
                        {{#if banner}}
                            {{{banner}}}
                        {{else}}
                            <div class="text-center"><h1 class="h1">Lockdown Protest Planner</h1></div>
                        {{/if}}
                    </div>
                    <div class="col-1">
                        {{#if disablePublicLogin}}
                        <div class="menu-area-right">
                            <button type="button" class="btn btn-light muted" id="info-button">
                                <img
                                    class="bootstrap-icon-button-image" src="/assets/bootstrap/icons/info-circle.svg"
                                    alt="i"
                                />
                            </button>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="content-area">
            <div class="containuer-fluid">
                <div class="row">
                    <div class="col-md-2 sidebar d-none d-md-block {{#if disablePublicLogin}}hidden{{/if}}">

                        <div class="login-card text-center sidebar-unauth hidden" id="login-card">
                            <table class="layout-table"><tbody><tr>
                                <td class="align-middle">
                                    <div>
                                        <button type="button" class="btn btn-primary login-button" id="login-button">
                                            Login
                                        </button>
                                    </div>
                                    <div><strong>Or</strong></div>
                                    <div>
                                        <button type="button" class="btn btn-primary login-button registration-link">
                                            Register
                                        </button>
                                    </div>
                                    <small class="text-muted">To Create and Sign-Up For Protests</small>
                                </td>
                            </tr></tbody></table>
                        </div>

                        <div class="control-card sidebar-auth text-right hidden">
                            <button
                                type="button" class="btn btn-light sidebar-control-button contributing-link"
                                data-toggle="tooltip" data-placement="top" title="Contribute"
                            >
                                <img
                                    class="bootstrap-icon-button-image" src="/assets/bootstrap/icons/lightbulb.svg"
                                    alt="c"
                                />
                            </button>
                            <button
                                type="button" class="btn btn-light sidebar-control-button logout-link"
                                data-toggle="tooltip" data-placement="top" title="Logout"
                            >
                                <img
                                    class="bootstrap-icon-button-image" src="/assets/bootstrap/icons/person-x.svg"
                                    alt="l"
                                />
                            </button>
                        </div>

                        <div class="notification-card text-center sidebar-auth hidden" id="notification-card">
                            <table class="layout-table"><tbody><tr>
                                <td class="align-middle">
                                    <span class="text-muted">No New Notifications.</span>
                                </td>
                            </tr></tbody></table>
                        </div>

                        <div class="pin-card text-center sidebar-auth hidden" id="pin-card">
                            <div>Drop a Pin</div>
                            <img
                                id='droppable-pin' class='grabbable select_disable'
                                ondragstart="return false;" oncontextmenu="return false;"
                                draggable="false" src="/assets/leaflet/marker-icon.png" alt='no-image'
                            >
                        </div>
                    </div>
                    <div class="h-100 col-sm-12 col-md map-outer-div"><div id="map-div"></div></div>
                </div>
            </div>
        </div>
    </div>


    {{#> blocks/protest-form-modal.hbs id_prefix='protest-create' form_title='Enter Your Protest Details'}}
    {{/protest-form-modal}}

    {{#> blocks/protest-form-modal.hbs id_prefix='protest-edit' form_title='Edit Protest' include_delete=true}}
    {{/protest-form-modal}}

    <div class="modal" tabindex="-1" role="dialog" id="login-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Enter Your Login Details</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="justify-content-center" id="login-form">
                <div class="form-group has-validation">
                    <label for="email-input">Email Address</label>
                    <input type="email" class="form-control" id="email-input" placeholder="Enter Email" required>
                </div>
                <div class="form-group">
                    <label for="password-input">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password" required>
                    <div class="invalid-feedback" id="login-form-validity-feedback">
                        Invalid Username or Password
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="submit-login">Login</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="pin-drop-modal">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header d-block">
            <h3 class="modal-title  text-center">Drop Me</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <div class="text-center">
                    <img
                        id='mobile-droppable-pin' class='grabbable select_disable'
                        ondragstart="return false;" draggable="false" oncontextmenu="return false;"
                        src="/assets/leaflet/marker-icon.png" alt='no-image'
                    >
                </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="registration-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header d-block">
            <h3 class="modal-title">Registration</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              Registration is currently unavailable as this site is in closed beta. In the mean time, check out
              <a class='contributing-link' href="#">Contributing</a> if you would like to help out.
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="contributing-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header d-block">
            {{#if informationModalTitle}}
            {{{informationModalTitle}}}
            {{else}}
            <h3 class="modal-title">About</h3>
            {{/if}}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                {{#if informationModalBody}}
                {{{informationModalBody}}}
                {{else}}
                <strong>Contributing:</strong>
                <p class='text-indent'>
                This is a free and open source project. You can support us by leaving your comments, suggestions,
                bug reports or, if you are a software developer or web designer, your code contributions, on our
                github page at
                <a href="https://github.com/cahl-19/lockdown-protests">https://github.com/cahl-19/lockdown-protests</a>
                </p>
                {{/if}}
                <div class="text-right">
                    <small class="text-muted">
                        This project was made using third-party APIs and software
                        (see <a href="/attributions">attributions</a>).
                    </small>
                </div>
          </div>
        </div>
      </div>
    </div>

    <div class="error-popup" id="error-popup">
        <div class="error-popup-content">
            <div class="error-message"></div>
            <div class="text-right">
                <button type="button" class="btn btn-danger close-error-popup">Close</button>
            </div>
        </div>
    </div>

    <div class="confirm-popup" id="confirm-popup">
        <div class="confirm-popup-content">
            <div class="confirm-message"></div>
            <div class="text-left">
                <button type="button" class="btn btn-primary confirmation-popup-confirm-button">Confirm</button>
                <button type="button" class="btn btn-secondary confirmation-popup-cancel-button">Cancel</button>
            </div>
        </div>
    </div>

    <div class="error-overlay hidden"></div>

{{/inline}}